@{
  Layout = "_Layout";
}
<div class="container">
<h1>This order has been deleted</h1>
<a href='/vendors/@Model["vendor"]/orders'><button>Return to Orders</button></a>
<a href='/vendors'><button>Return to Vendors</button></a>    
<a href='/'><button>Return Home</button></a>       
</div>